{% load static %}
<!DOCTYPE html>
<html lang = "ko">
    <head>
        <meta charset="UTF-8">
        <link rel = "stylesheet" type = "text/css" href = "{% static 'bootstrap.css' %}">
    </head>
    <body>
    </br>
    </br>
        <form action = "{% url 'login' %}" method = "POST" style="text-align: center;">
            {% csrf_token %}
            <h3>login page</h3>
            </br>
            <div class="form-group">
                <div class="form-floating mb-3">
                    <input name = "name" id = "name" type="text" class="form-control" placeholder="id">
                    <label for="floatingInput">id</label>
                    </div>
                    <div class="form-floating">
                    <input name = "password" id = "password" type="password" class="form-control" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
            </div>
            <div class="d-grid gap-2">
            </br>
                <a href = "{% url 'join' %}" style = "text-align : right;">회원가입</a>
                <button class="btn btn-lg btn-primary" type="submit" >submit</button>
            </div>
        </form>
    </body>
</html>
