{% load static %}
<!DOCTYPE html>
<html lang = "ko">
    <head>
        <meta charset="UTF-8">
        <link rel = "stylesheet" type = "text/css" href = "{% static 'bootstrap.css' %}">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href=" ">TodoList</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link active" href=" ">list
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>
                </ul>
                {% if user.is_authenticated %}
                <a href = "{% url 'logout' %}">logout</a>
                {% else %}
                <a href = "{% url 'login' %}">login</a>
                {% endif %}
              </div>
            </div>
          </nav>
        </br>
        </br>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">오늘의 할 일</li>
        </ol>
        {% if user.is_authenticated %}
        <form action = "{% url 'writing' %}" method = "POST">
          {% csrf_token %}
          <div class="form-group">
            <div class="input-group mb-3">
              <input name = "content" type="text" class="form-control" placeholder="add your things to do" aria-label="Recipient's username" aria-describedby="button-addon2">
              <button class="btn btn-primary" type="submit" id="button-addon2" >add</button>
            </div>
          </div>
        </br>
        {% for write in posts %}
        <fieldset class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
              <h6>{{ write.content }}</h6>
            </label>
          </div>
        </fieldset>
        {% endfor %}
        </form>
        {% endif %}
    </body>
</html>
